@charset "ISO-8859-1";
.phanthan {
  width: 620px;
  margin: auto;
  min-height: 100vh;
}

.phanthan .phanthan__tieude {
  margin-top: 50px;
  margin-bottom: 60px;
}

.phanthan .phanthan__tieude h1 {
  color: var(--text-color-2);
  font-size: 36px;
}

.phanthan__noidung {
  margin-bottom: 40px;
}

.phanthan__noidung .noidung__chitiet {
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--text-color-3);
  margin-top: 15px;
  margin-bottom: 10px;
}

.phanthan__noidung .noidung__chu {
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 26px;
}

.phanthan__noidung .noidung__chitiet a {
  color: var(--text-color-4);
  font-size: 18px;
  font-weight: bold;
}

.phanthan__noidung .noidung__khoangcach {
  width: 24px;
  height: 4px;
  background-color: var(--space-color);
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 24px;
}

.danhsach__noidung .danhsach__noidung_chitiet {
  font-size: 16px;
  line-height: 2.4rem;
}

.noidung__thutu .danhsach__noidung .danhsach__noidung_chitiet {
  font-size: 18px;
}

.noidung__thutu .danhsach__noidung .danhsach__noidung_chitiet::before,
.noidung__thunam .danhsach__noidung .danhsach__noidung_chitiet::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.noidung__thunam .danhsach__noidung .danhsach__noidung_chitiet {
  font-size: 18px;
}
