@charset "ISO-8859-1";
.phancuoi {
  margin-top: 40px;
  border-top: 2px solid #efefef !important;
  text-align: center;
  padding-top: 30px;
  color: hsl(357, 12%, 42%);
  padding-bottom: 20px;
  max-width: 100%;
  height: 200px;
}

.phancuoi__thanhdieuhuong {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phancuoi__thanhdieuhuong li {
  margin: 0 10px;
}

.phancuoi__thanhdieuhuong li a {
  color: var(--text-color-3);
  font-size: 14px;
  font-weight: bold;
}

.phancuoi__lienket_sns {
  margin-bottom: 18px;
}

.phancuoi__lienket_sns img {
  width: 40px;
  height: 40px;
  background-color: var(--bgr-img-1);
  border-radius: 50%;
  padding: 6px;
  margin: 0 6px;
  cursor: pointer;
}

.phancuoi__noidung {
  margin-top: 10px;
  margin-bottom: 20px;
}

.phancuoi__khac {
  color: var(--text-color-5);
  font-size: 12px;
}
