@charset "ISO-8859-1";
.phandau {
  min-height: 100vh;
  background-color: rgb(186, 73, 73);
  color: white;
  transition: var(--bgr-first) 1s ease;
  position: relative;
}
.phandau_darknight{
	min-height: 100vh;
  background-color: black;
  color: white;
  transition: var(--bgr-first) 1s ease;
  position: relative;
}

.phandau__thunhat {
  height: 60px;
  width: 620px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.phandau__thunhat__logo {
  display: flex;
}

.phandau__pomofocus--chu h3 {
  font-weight: 500;
  font-size: 20px;
  transform: translateY(-3px);
}

.phandau__pomofocus--icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.phandau__thanhdieuhuong__danhsach {
  display: flex;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut button,
.nut__tuchon {
  padding: 8px 12px;
  opacity: 0.9;
  font-size: 13px;
  border: none;
  margin-left: 10px;
  background-color: var(--bgr-btn);
  color: white;
  border-radius: 4px;
  min-width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut button:hover,
.nut__tuchon:hover {
  cursor: pointer;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut button img {
  width: 16px;
  height: 16px;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut button span {
  opacity: 0.8;
  font-size: 13px;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut button:hover span {
  opacity: 1;
  animation: hoverAnimation 0.2s ease;
  cursor: pointer;
}

.phandau__thanhdieuhuong__danhsach .thanhdieuhuong__danhsach--nut .nut--chu {
  margin-left: 3px;
  opacity: 0.8;
}

/* Header Second */

.phandau__thuhai {
  max-width: 620px;
  height: 420px;
  margin: auto;
  margin-top: 40px;
}

.phandau__thuhai__thoigian {
  text-align: center;
  margin-top: 20px;
  cursor: default;
}

.phandau__thuhai__thoigian h1 {
  font-size: 120px;
  margin: 0;
}

.phandau__thuhai__thoigian__taptrung {
  width: 480px;
  height: 330px;
  background-color: var(--bgr-btn-2);
  margin: auto;
  border-radius: 6px;
  padding: 20px 0px 30px;
}

.phandau__thuhai__thanhdieuhuong .danhsach__thoigian__lamviec {
  display: flex;
  justify-content: center;
}

.phandau__thuhai__thanhdieuhuong .danhsach__thoigian__lamviec li {
  width: 125px;
  height: 28px;
  border-radius: 4px;
}

.danhsach__thoigian__lamviec li button {
  font-size: 16px;
  background-color: unset;
  height: 100%;
  margin: auto;
  padding: 0 16px 0 16px;
}

.phandau__thuhai__nut {
  text-align: center;
}

.phandau__thuhai__nut button {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-family: ArialRounded;
  font-size: 22px;
  height: 55px;
  color: var(--text-color-first);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
}

.phandau__thuhai__danhsach_nhiemvu {
  margin-top: 20px;
  text-align: center;
}

/* Header Third */

.phandau__thuba {
  text-align: center;
  width: 480px;
  margin: auto;
}

.phandau__thuba .tao__nhiemvu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 14px;
  position: relative
}

.phandau__thuba .tao__nhiemvu .danhsach__hanhdong__todo {
	position: absolute;
    background: #fff;
    color: #000;
    right: 0;
    top: 40px;
    padding: 14px !important;
    z-index: 1;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    border-radius: 6px
}

.phandau__thuba .tao__nhiemvu .danhsach__hanhdong__todo li {
	padding: 12px 0;
	cursor: pointer
}

.phandau__thuba .tao__nhiemvu .danhsach__hanhdong__todo li a {
	display: flex;
	align-items: center;
}

.phandau__thuba .tao__nhiemvu .danhsach__hanhdong__todo li:hover {
	opacity: 0.7
}

.phandau__thuba .tao__nhiemvu button {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background-color: var(--bgr-btn-2);
  margin-left: 10px;
  font-size: 13px;
  padding: 8px;
  min-width: auto;
  border: none;
}

.phandau__thuba .tao__nhiemvu img {
  height: 16px;
  width: 16px;
}

.phandau__thuba .them__nhiemvu {
  margin-top: 18px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.phandau__thuba .them__nhiemvu button {
  height: 64px;
  width: 100%;
  justify-content: center;
  background-color: var(--bgr-btn-3);
  font-size: 16px;
  opacity: 0.8;
  font-weight: bold;
  margin: 0;
}

.phandau__caidat, .phandau__baocao {
  background-color: var(--bgr-fifth);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 50px;
}

.caidat, .baocao {
  color: rgb(34, 34, 34);
  border-radius: 8px;
  background-color: white;
  position: relative;
  max-width: 400px;
  height: auto;
  z-index: 2147483647;
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  margin: auto;
  transition: all 0.2s ease-in 0s;
  transform: translateY(20px);
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
}

.caidat__tieude {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0px;
  padding: 18px 23px;
  font-size: 15px;
  color: var(--text-color-6);
}

.caidat .nut--dong--caidat {
  width: 26px;
  height: 26px;
  margin-right: 14px;
  opacity: 0.3;
  padding: 6px;
  cursor: pointer;
}

.caidat__cauhinh {
  padding: 0 20px;
}

.caidat__cauhinh_thoigian .thoigian--tieude {
  font-size: 14px;
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-top: 28px;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.caidat__cauhinh_thoigian .thoigian--tieude img {
  width: 16px;
  opacity: 0.3;
  margin-right: 6px;
}

.caidat__cauhinh_thoigian .thoigian--cauhinh {
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.thoigian--cauhinh .thietlap--thoigian {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 10px !important;
}

.thoigian--cauhinh .thietlap--thoigian li {
  width: 98px;
}

.thoigian--cauhinh-thunhat {
  padding: 12px 0;
}

.thoigian--cauhinh .thietlap--thoigian label {
  display: block;
  font-size: 14px;
  color: var(--text-color-8);
  font-weight: bold;
  margin-bottom: 4px;
}

.thoigian--cauhinh .thietlap--thoigian input {
  border-radius: 4px;
  background-color: var(--bgr-color-sixth);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: var(--text-color-7);
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.chu {
  color: var(--text-color-7);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.thoigian--cauhinh-thuhai li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.thoigian--cauhinh-thuhai li span,
.thoigian--cauhinh-thuba li span,
.danhsach__chude_caidat li span {
  color: var(--text-color-7);
  font-weight: bold;
}

.thoigian--cauhinh-thuba li {
  padding: 12px 0;
}

.thoigian--cauhinh-thuba li:nth-child(1) {
  margin-top: 14px;
}

.thoigian--cauhinh-thuhai .nut-chuyendoi,
.mautoi .nut-chuyendoi {
  width: 60px;
  height: 32px;
}

.thoigian--cauhinh-thuhai .nut-chuyendoi .vongtron-baoboc,
.mautoi .nut-chuyendoi .vongtron-baoboc {
  width: 100%;
  height: 100%;
  border: 1px black solid;
  background-color: rgb(204, 204, 204);
  border-radius: 50px;
  border: none;
  position: relative;
  cursor: pointer;
}

.circle--active {
  left: 30px !important;
}

.vongtron-baoboc--active {
  background-color: rgba(132, 199, 51, 0.8) !important;
}

.thoigian--cauhinh-thuhai .nut-chuyendoi .vongtron-baoboc .vongtron,
.mautoi .nut-chuyendoi .vongtron-baoboc .vongtron {
  position: absolute;
  left: 2px;
  top: 1px;
  width: 28px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px;
}

.khoangcach {
  height: 1px;
  width: 100%;
  background-color: rgb(223, 223, 223);
}

.thoigian--cauhinh-thuba li {
  display: flex;
  justify-content: space-between;
}

.thoigian--cauhinh-thuba li select,
#config--sound,
.chon--gio,
.chon-thongbao input,
.chon-thongbao select,
.caidat-ketnoi {
  cursor: pointer;
  position: relative;
  width: 100%;
  color: rgb(120, 120, 120);
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  margin-right: auto;
  border: none;
}

.chon-thongbao input,
.chon-thongbao select {
  width: 80px;
}

.caidat__chitiet_chude .chon-mausac {
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.4rem;
}

.danhsach__chude_caidat li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.danhsach-thaydoi-mausac {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.danhsach_khac_caidat li {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.lienhop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.caidat__phancuoi {
  padding: 14px 20px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
}

.caidat__phancuoi button {
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
}

@keyframes hoverAnimation {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.nut_tua_thoigian_ketiep{
	position: absolute;
	right: 0;
}
